<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Result</h1>
    <div>
        <%- response %>
    </div>
    <a href="/">Back</a>
</body>
</html>
